# SET

* Set are unordered collections of unique elements. They are similar to lists in terms of storing elements, but unlike lists, sets cannot contain duplicate entries.

* Example:-

In [2]:
S1 = {1,22,74,34,65,75,32,38}

print(type(S1))

print(S1)

<class 'set'>
{32, 65, 34, 1, 38, 74, 75, 22}

# ADD(+)

* The 'ADD' fuction is use to add elements in sets.

* Example:-

In [4]:
S2 = {21,34,33,55,2,43}

S2.add('NewValue')

print(S2)

{33, 34, 2, 21, 55, 'NewValue', 43}

# CLEAR()
* The 'CLEAR' functiontrRemoves all elements from the set, leaving it empty

* Example:-.

In [14]:
s3= [12,22,34,56,78,98,990,12,122,234]

s3.clear()

s3

[]

# DIFFERENCE()

* The 'DIFFERENCE' FUNCTION Returns a new set with elements that are in the set but not in the others.

* Example:-

In [22]:
s1 = {20,40,30,50,43,54,40}

s2 = {20,30,40}

NewSet = s1.difference(s2)

NewSet

{43, 50, 54}

# COPY()

* The 'COPY' function returns a shallow copy of the set.

* Example:-

In [23]:
s5 = {33,21,34,67,34,17,32,99,20}

s5.copy()

s5

{17, 20, 21, 32, 33, 34, 67, 99}

# DIFFERENCE_UPDATE()

* The 'DIFFERENCE_UPDATE()' function removes elements from the set that are also in the others.

* Example:-

In [28]:
s6 = {22,40,95,80,45,88,33,23}

sn = {22,40,80,45,88}

s6.difference_update(sn)

s6

{23, 33, 95}

# DISCARD()

* The 'DISCARD' function removes an element elem from the set if it is a member. If the element is not a member, do nothing.

Example:-

In [32]:
s7 = {333,124,32,45,22,64,755,123}

s7.discard(755)

s7

{22, 32, 45, 64, 123, 124, 333}

# INTERSECTION()

* The 'INTERSECTIOIN' function returns a new set with elements common to the set and all others

* Example:-

In [34]:
s8 = {12,32,45,77,97,55,75}

s9 = {13,32,98,75,24,12}

s8.intersection(s9)

{12, 32, 75}

# INTERSECTION_UPDATE()

* The 'INTERSECTION_UPDATE' function updates the set, keeping only elements found in it and all others.

* Example:-

In [36]:
s = {23,54,66,22,88,22}

sn = {32,12,43,54,22,66,34,23}

s.intersection_update(sn)

s

{22, 23, 54, 66}

# ISDISJOINT()

* The 'ISDISJOINT' methods returns True if the set has no elements in common with other. If the set and other are disjoint, returns False otherwise.

* Example:-

In [42]:
s1 = {55,230,450}

s2 = {51,130,230,150}

s1.isdisjoint(s2)

False

# ISSUBSET()

* The 'ISSUBSET' returns True if all elements of the set are in other, False otherwise.

* Example:-

In [47]:
set1 = {30, 40, 550}

set2 = {50, 30, 40}

set1.issubset(set2)

False

# ISSUPERSET()

* The 'ISSUPERSET' methods returns True if all elements of other are in the set, False otherwise.

* Example:-

In [49]:
set = {30, 40, 50}

newSet = {20, 30, 40}

set.issuperset(newSet)

False

# POP()

* The 'POP' method removes and returns an arbitrary element from the set. Raises KeyError if the set is empty.

* Example:-

In [52]:
set = {243, 420, 34, 42, 334, 648}

set.pop()

set

{42, 243, 334, 420, 648}

# SYMMETRIC_DIFFERENCE()

* The 'SYMMETRIC_DIFFERENCE' function returns a new set with elements in either the set or other but not in both.

* Example:-

In [58]:
set1 = {144, 450, 355,433,232}

set2 = {20, 144,232,40,450}

set1.symmetric_difference(set2)

{20, 40, 355, 433}

# UPDATE()

* The 'UPDATE' methods updates the set, adding elements from all others.
 
* Example:-

In [60]:
sOne = {24, 36, 48}

sTwo = {12, 48, 36}

sOne.update(sTwo)

sOne

{12, 24, 36, 48}

# UNION()

* The 'UNION' function returns a new set with elements from the set and all others.

In [67]:
sets = {123, 150, 250}

sets2 = {200, 120, 123}

sets.union(sets2)

{120, 123, 150, 200, 250}

# SYMMETRIC_DIFFERENCE_UPDATE()

* The 'SYMMETRIC_DIFFERENCE_UPDATE' remove the items that are present in both sets, AND insert the items that is not present in both sets

* Example:-

In [70]:
ss = {'Samsung','Lenovo','Asus','Acer'}
ss1 = {'Apple','Dell', 'Lenovo','Acer'}

ss.symmetric_difference_update(ss1) 

ss

{'Apple', 'Asus', 'Dell', 'Samsung'}