# INDEX

* The 'INDEX' method helps us to find the index or occurrence of an element in the tuple.

* Example:-

In [56]:
a1 = (21,34,55,76,44,23,47,98,30,38)

a1 = a1.index(76)

print(a1)

3

# INDEXING

* The 'INDEXING' are access individual elements of a tuple using square brackets []

* Example:-

In [1]:
tuple = (11, 77, 39, 24, 15)

tuple

(11, 77, 39, 24, 15)

In [2]:
print(tuple[0])

11

# SLICING

* The 'SLICING' is extract a subset of elements from a tuple.

* Example:-

In [6]:
t1 = (10,105,4,5)
t1

(10, 105, 4, 5)

In [7]:
print(t1[1:4])

(105, 4, 5)

# LENGTH

* The 'LENGTH' is get the number of elements in a tuple using the len() function.

* Example:-

In [13]:
t2 = (19, 21, 23, 47, 87,94,29,99,)
t2

(19, 21, 23, 47, 87, 94, 29, 99)

In [14]:
print(len(t2))

8

# CONCATENATION

* The 'CONCATENATION' are concatenate two tuples using the + operator.

* Example:-

In [17]:
t3 = (1, 2, 3,4,5,6,7,8,9)

t4 = (10,11,12,13,14,15,16,17,18,19,20)

concatenated_tuple = t3 + t4

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

# REPETITION

* The 'REPETITION' is repeat a tuple for a given number of times using the * operator.

* Example:-

In [22]:
tuple = (11, 54, 44, 87, 95)
tuple

(11, 54, 44, 87, 95)

In [23]:
R_tuple = tuple * 2
print(R_tuple)

(11, 54, 44, 87, 95, 11, 54, 44, 87, 95)

# COUNT

* The 'COUNT' are count the occurrences of a specific element in a tuple using the count() method.

* Example:-

In [42]:
t1 = (31, 52, 73, 31, 31)

t1

(31, 52, 73, 31, 31)

In [43]:
print(t1.count(73))

1

# SORTED

* The 'SORTED' method takes a tuple as an input and returns a sorted list as an output.

* Example:-

In [51]:
t5 = (22,43,5,67,2,4,76,1,3,9)

t5

(22, 43, 5, 67, 2, 4, 76, 1, 3, 9)

In [52]:
t5 = sorted(t5)

t5

[1, 2, 3, 4, 5, 9, 22, 43, 67, 76]